{{>nav/nav}}
<main class="user-login-page">
  <div class="text-nowrap userbox-wrapper row p-3">
    <div class="loginbox">
      <div>
        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-2">Register</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" role="tabpanel" id="tab-1">
              <form>
                <div class="text-center p-2">
                  <div class="text-left p-1">
                    <label class="text-capitalize text-light">USER NAME</label>
                  </div>
                  <div>
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="text-center p-2">
                  <div class="text-left p-1">
                    <label class="text-light border-info">PASSWORD</label>
                  </div>
                  <div>
                    <input class="form-control" type="password">
                  </div>
                </div>
                <div class="text-center p-2">
                  <button class="btn btn-primary text-center login-btn" type="button">Login</button>
                </div>
              </form>
            </div>
            <div class="tab-pane active" role="tabpanel" id="tab-2">
              <form>
                <div>
                  <div class="text-center">
                    <div class="text-left p-2"><label class="text-capitalize text-light">EMAIL&nbsp;</label></div>
                    <div class="text-left"><input class="form-control" type="email"></div>
                  </div>
                  <div class="text-center">
                    <div class="text-left p-2"><label class="text-light">FIRST NAME</label></div>
                    <div class="text-left p-1"><input class="form-control reg-firstname" type="text"></div>
                  </div>
                  <div class="text-center">
                    <div class="text-left p-2"><label class="text-light">LAST NAME</label></div>
                    <div class="text-left p-1"><input class="form-control reg-lastname" type="text"></div>
                  </div>
                  <div class="text-center">
                    <div class="text-left p-2"><label class="text-light">PASSWORD</label></div>
                    <div class="text-left p-1"><input class="form-control" type="text"></div>
                  </div>
                  <div class="text-center">
                    <div class="text-left p-2"><label class="text-light">CONFIRM PASSWORD<br></label></div>
                    <div class="text-left p-1"><input class="form-control" type="text"></div>
                  </div>
                  <div class="text-center">
                    <div class="p-2"><button class="btn btn-primary" type="button">Register</button></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{>footer/footer}}