.loginbox {
  width: 500px;
  margin: auto;
  background-image: linear-gradient(#5f2c82,#49a09d);
}

.userbox-wrapper {
}

.user-subt-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.user-login-page {
}


.body-class {
}
