<nav class="navbar navbar-light navbar-expand-md bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><strong>YLogger</strong></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav"></ul>
    </div>
  </div>
</nav>